<?xml version="1.0"?>
<robot name="top_level" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="robot_ip" default="0.0.0.0"/>
  <xacro:arg name="robot_ip_2" default="0.0.0.0"/>
  <xacro:arg name="fake_sensor_commands" default="true"/>
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:arg name="headless_mode" default="false"/>
  <xacro:arg name="ur_type" default="ur10e"/>
  <xacro:include filename="$(find dual_arm_test)/urdf/env.xacro"/>
  <xacro:env single_arm_setup="false"
    fake_sensor_commands="$(arg fake_sensor_commands)"
    use_fake_hardware="$(arg use_fake_hardware)"
    robot_ip="$(arg robot_ip)"
    robot_ip_2="$(arg robot_ip_2)"
    headless_mode="$(arg headless_mode)"
    ur_type="$(arg ur_type)"
    />
</robot>
